/* line 1, ../sass/screen.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 5, ../sass/screen.scss */
.container {
  margin: 30px auto;
  max-width: 960px;
}
/* line 8, ../sass/screen.scss */
.container h1 {
  padding-left: 10px;
  font-size: 22px;
}

/* line 14, ../sass/screen.scss */
table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}
/* line 19, ../sass/screen.scss */
table thead th {
  text-align: left;
  border-bottom: 1px solid #ccc;
}
/* line 26, ../sass/screen.scss */
table tbody tr:nth-child(even) td {
  background: #eee;
}
/* line 29, ../sass/screen.scss */
table tbody tr.current td {
  background: #8A8A8A;
  color: #fff;
}
/* line 36, ../sass/screen.scss */
table th,
table td {
  padding: 5px 10px;
}
/* line 38, ../sass/screen.scss */
table th[colspan],
table td[colspan] {
  padding-bottom: 12px;
  padding-top: 20px;
}
